<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Yoga app</span>
    @if ($isLogged() | async) {
      <div>
        <span routerLink="sessions" class="link" data-testid="nav-sessions">Sessions</span>
        <span routerLink="me" class="link" data-testid="nav-account">Account</span>
        <span (click)="logout()" class="link" data-testid="nav-logout">Logout</span>
      </div>
    } @else {
      <div>
        <a  routerLink="/login" routerLinkActive="active" class="link" data-testid="nav-login">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="link" data-testid="nav-register">Register</a>
      </div>
    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
